#dashboard .box-sidebar ul {
    padding-top: 10px;
}

#dashboard .box-sidebar .nav-item {
    height: auto !important;
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#dashboard .box-sidebar .nav-item a {
    display: flex;
    /* font-size: 15px; */
}

#dashboard .box-sidebar .nav-item a i {
    width: 12.5%;
    /* font-size: 15px; */
}

#dashboard .box-sidebar .nav-item a span {
    width: 85%;
    /* font-size: 15px; */
}

@media screen and ( max-width: 992px ) {
    #dashboard .box-sidebar {
        width: 10%;
    }

    #dashboard #box-cd {
        width: auto;
        margin: auto;
    }

    #dashboard .box-sidebar .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #dashboard .box-sidebar .nav-item a {
        text-align: center !important;
    }

    #dashboard .icon-sidebox { display: none; }
    /* #dashboard .icon-text { display: block; } */
}

@media screen and ( min-width: 320px ) and ( max-width: 650px ) {
    #box-mobile-bar.active-mobile {
        display: block;
    }

    #dashboard .box-sidebar {
        display: none;
    }

    #dashboard .box-sidebar.active-mobile {
        display: block;
        position: absolute;
        top: 0;
        z-index: 999;
        width: 100%;
        background-color: rgba(35, 40, 45, 0.5);
    }

    #dashboard .box-sidebar.active-mobile .wrap-sb {
        width: 70%;
    }

    #dashboard .box-sidebar.active-mobile .icon-sidebox {
        display: block;
    }

    #dashboard .box-sidebar.active-mobile .nav-item a {
        text-align: left !important;
        width: 100%;
    }

    #dashboard .box-sidebar.active-mobile .nav-item a i,
    #dashboard .box-sidebar.active-mobile .nav-item a span {
        font-size: 12px;
    }

    #dashboard .box-sidebar.active-mobile .nav-item {
        justify-content: flex-start;
        align-items: center;
    }

    #dashboard .box-sidebar.active-mobile ul {
        margin: auto;
    }

    #dashboard .box-sidebar.active-mobile .dropdown {
        font-size: 12px;
    }
}