#loading-screen {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#loading-screen .wrapper-lc {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0,0,0,0.97);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-screen .wrapper-lc .box-data {
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    color: inherit;
    /* background-color: #fff; */
    background-color: #f1f2f3;
    border-radius: 10px;
    padding: 2.5%;
    position: relative;
}

#loading-screen .wrapper-lc .box-data .close-button {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

#loading-screen .wrapper-lc .box-data .box-image {
    width: 100%;
    height: 80%;
}

#loading-screen .wrapper-lc .box-data .box-image .image {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/loading-screen-one.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#loading-screen .wrapper-lc .box-data .box-message {
    width: 100%;
    height: 10%;
    font-size: 14px !important;
    text-align: center;
}

#loading-screen .wrapper-lc .box-data .box-message p {
    font-size: 14px;
    margin-bottom: 5px;
}

#loading-screen .wrapper-lc .box-data .box-message a {
    text-decoration: none;
    font-size: 14px;
    color: unset;
}

#loading-screen .wrapper-lc .box-data .box-message .login {
    padding: 5px 15px;
    /* background-color: #285698; */
    background-color: #20c997;
    color: #ffff;
    border-radius: 5px;
    margin-top: 10px;
}

