#chatting {
    max-height: 100%;
    height: 100%;
    position: relative;
}

#box-cd {
    padding-top: 0 !important;
}

#chatting .profile-chat-box {
    max-height: 10%;
    /* height: 100%; */
    height: auto;
    border-bottom: 1px solid #ced4da;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-left: 5%;
    box-shadow: 0px 5px 10px rgba(206, 212, 218, 0.7);
    display: flex;
    align-items: center;
}

#chatting .profile-chat-box h4 {
    margin: 0;
}

#chatting .send-chat-box {
    /* max-height: 10%;
    height: 100%; */
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ced4da;
    padding-top: 1.5%;
    flex-direction: column;
    /* position: absolute; */
    /* bottom: 0;
    z-index: 25; */
    background-color: #fff;
}

#chatting .send-chat-box .wrapper-scb {
    max-width: 100%;
    width: 100%;
    position: relative;
    max-height: 100%;
    height: 100%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#chatting .send-chat-box .wrapper-scb textarea {
    height: 100%;
    resize: none;
    position: relative;
    overflow: hidden;
}

#chatting .send-chat-box .wrapper-scb input {
    width: 100%;
}

/* #chatting .send-chat-box .wrapper-scb i {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 22px;
    cursor: pointer;
} */

#chatting .send-chat-box .wrapper-scb button {
    background-color: #e8e8e8;
}

#chatting .send-chat-box .wrapper-scb i {
    margin-left: 5px;
    font-size: 14px;
}

#chatting .send-chat-box .wrapper-scb span {
    font-weight: 700;
}

#chatting .list-chat-box {
    /* max-height: 80%;
    height: 100%; */
    height: auto;
    position: relative;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    overflow-y: auto;
    overflow-x: hidden;
}

#chatting .list-chat-box::-webkit-scrollbar {
    width: 5px;
}

#chatting .list-chat-box::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

#chatting .list-chat-box::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
#chatting .list-chat-box::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
#chatting .list-chat-box::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#chatting .list-chat-box .wrapper-lcb {
    /* max-height: 100%;
    height: 100%; */
    position: relative;
    /* border: 1px solid #ced4da; */
    border-radius: 5px;
    width: 100%;
    margin: auto;
}

#chatting .list-chat-box .wrapper-lcb .user-chat {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: 3px 3px 10px rgb(206, 212, 218, 25%);
    z-index: 1;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-chat-box {
    display: flex;
    align-items: center;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-icon {
    padding: 5px;
}

#chatting .list-chat-box .wrapper-lcb .user-chat.right-user .wb-icon {
    text-align: right;
}

#chatting .list-chat-box .wrapper-lcb .user-chat.left-user .wb-icon {
    text-align: left;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-icon span,
#chatting .list-chat-box .wrapper-lcb .user-chat .wb-icon i {
    font-size: 12px;
    cursor: pointer;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-icon span {
    margin-left: 5px;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-image {
    width: 7.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-image .image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ced4da;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-text {
    width: 92.5%;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-text .message span {
    font-size: 16px;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-text .date span {
    font-size: 14px;
}

#chatting .list-chat-box .wrapper-lcb .user-chat.left-user .wb-text {
    /* padding-right: 7.5%; */
    padding-right: 2.5%;
    padding-left: 2.5%;
    text-align: left;
}

#chatting .list-chat-box .wrapper-lcb .user-chat.right-user .wb-text {
    /* padding-left: 7.5%; */
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: right;
}

#chatting .list-chat-box .wrapper-lcb .wb-replay {
    width: 100%;
    border: 1px solid #ced4da;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #e8e8e8;
    z-index: 5;
    /* cursor: pointer; */
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-replay .wb-image .image {
    width: 30px !important;
    height: 30px !important;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-replay .wb-text .title h6 {
    margin: 0;
}

#chatting .list-chat-box .wrapper-lcb .user-chat .wb-replay .wb-text .message p {
    font-size: 12px;
    margin: 0;
    margin-top: 2.5px;
}


#chatting .list-chat-box .wrapper-lcb .user-chat.left-user .wb-replay.left .wb-text .title,
#chatting .list-chat-box .wrapper-lcb .user-chat.left-user .wb-replay.left .wb-text .message {
    text-align: right !important;
}

#chatting .list-chat-box .wrapper-lcb .user-chat.right-user .wb-replay.right .wb-text .title,
#chatting .list-chat-box .wrapper-lcb .user-chat.right-user .wb-replay.right .wb-text .message {
    text-align: left !important;
}