:root {
    --text: #828282;
    --title: #4F4F4F;
    --white: #fff;
    --main: #285698;
    --darkblue: #022A63;
    --second: #EF7721;
    --darksecond: #ce5a08;
    --font: 'Roboto', sans-serif;
    --font-merri: 'Merriweather', serif;
    --font-inter: 'Inter', sans-serif;
}

.font-robo {
    font-family: var(--font);
}

.font-merri {
    font-family: var(--font-merri);
}

.font-inter {
    font-family: var(--font-inter);
}

 ::-webkit-input-placeholder {
    /* Edge */
    color: #d2d2d2 !important;
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d2d2d2 !important;
}

 ::placeholder {
    color: #d2d2d2 !important;
}

body {
    font-family: var(--font);
    background: var(--white);
    color: var(--text);
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth;
}

.anchor {
    display: block;
    height: 130px;
    margin-top: -130px;
    visibility: hidden;
}

.logo-big {
    width: 100%;
    max-width: 280px;
    display: inline-block;
}

.logo-big img {
    width: 100%;
}

img {
    pointer-events: none;
}

.g-recaptcha {
    display: flex;
    justify-content: center;
    transform: scale(.76);
    -webkit-transform: scale(.76);
    -moz-transform: scale(.76);
    -ms-transform: scale(.76);
    -o-transform: scale(.76);
}

.link {
    text-decoration: none;
}

.container {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.rounding {
    border-radius: .35rem;
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    -ms-border-radius: .35rem;
    -o-border-radius: .35rem;
}

.img-square1 {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.img-square12 {
    width: 100%;
    aspect-ratio: 1/2;
    object-fit: cover;
}

.img-square21 {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.img-square23 {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.img-square32 {
    width: 100%;
    /* aspect-ratio: 3/2; */
    aspect-ratio: 2/1;
    object-fit: cover;
}

p {
    margin: 0 0 .5rem;
}

p,
span,
label {
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: var(--font-merri);
}

a {
    transition: ease all .5s;
    -webkit-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
}

.txt-main {
    color: var(--main) !important;
}

.txt-second {
    color: var(--second) !important;
}

.txt-title {
    color: var(--title) !important;
}

.btn {
    padding: 0.375rem 1.25rem;
    font-family: var(--font-inter);
    box-shadow: 0px 8px 10px 0px #28569840;
    background-color: white;
}

.btn:hover {
    box-shadow: 0px 10px 15px 0px #28569840;
}

.btn-main {
    background-color: var(--main);
    border-color: transparent;
    color: var(--white);
}

.btn-main:hover {
    background-color: var(--darkblue);
    color: var(--white);
}

.btn-second {
    border-color: transparent;
    background-color: var(--second);
    color: var(--white);
}

.btn-second:hover {
    background-color: var(--darksecond);
    color: var(--white);
}

.btn-blue {
    background-color: #3395DB;
    border-color: transparent;
    color: var(--white);
}

.btn-blue:hover {
    background-color: #2b8ace;
    color: var(--white);
}

.btn-line {
    background-color: var(--white);
    border-color: var(--main);
    color: var(--main);
}

.btn-line:hover {
    background-color: var(--main);
    color: var(--white);
}

.heading {
    font-size: 2rem;
    line-height: 1.2;
    color: var(--title);
}

.item .heading a {
    color: var(--white);
    text-decoration: none;
}

.heading a {
    color: var(--title);
    text-decoration: none;
}

.headtitle {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 500;
    color: var(--darkblue);
}

.headtitle a {
    color: var(--darkblue);
    text-decoration: none;
}

.title a,
.subtitle a {
    color: var(--title);
    text-decoration: none;
}

.title {
    font-size: 1.1em;
    line-height: 1.2;
    color: var(--title);
}

.subtitle {
    font-size: 1.1rem;
    color: var(--title);
}

section {
    position: relative;
}

.komp-navbar .dropdown-toggle::after,
.komp-navbar .dropdown-toggle.show::after {
    filter: invert(0);
    -webkit-filter: invert(0);
}

.dropdown-toggle::after {
    background-image: url(../images/chevron-down.svg);
    filter: invert(0%);
    border: transparent !important;
    height: 1rem;
    width: 1rem;
    vertical-align: -2px !important;
    -webkit-filter: invert(0%);
}

.dropdown-toggle.show::after {
    background-image: url(../images/chevron-up.svg);
    filter: invert(0%);
    border: transparent !important;
    height: 1rem;
    width: 1rem;
    vertical-align: -2px !important;
    -webkit-filter: invert(0%);
}

.cst-pagin .page-link {
    color: var(--title);
}

.cst-pagin .page-item.active .page-link {
    color: #fff;
    background-color: var(--main);
    border-color: var(--main);
}


/*START Navbar  */

.komp-navbar {
    padding: 0 !important;
    background-color: var(--white);
    box-shadow: 0 4px 20px rgba(0 0 0 / 8%);
}

.navbar-brand img {
    height: 28px;
}

.komp-navbar.navbar .navbar-toggler {
    border-color: transparent !important;
    outline: none !important;
    font-size: 1.6rem;
    color: var(--main);
    padding: .25rem;
}

.komp-navbar.navbar .navbar-toggler .navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
}

.komp-navbar.navbar .navbar-nav .nav-link {
    padding: .75rem 1rem;
    text-transform: uppercase;
    color: var(--text);
}

.komp-navbar.navbar .navbar-nav .active .nav-link {
    font-weight: bold;
}

.komp-navbar.navbar .navbar-nav .nav-link:hover,
.komp-navbar.navbar .navbar-nav .nav-link:focus {
    background-color: rgba(0 0 0 / 10%);
}

.komp-navbar .navbar-nav {
    display: block;
    width: 100%;
}

.komp-navbar .navbar-nav .dropdown-menu {
    background-color: var(--white);
    margin-top: -2px;
    padding: 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.komp-navbar .navbar-nav .dropdown-menu .dropdown-item {
    background-color: rgba(0 0 0 / 10%);
    color: var(--text);
}

.komp-navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: rgba(0 0 0 / 15%);
}

.komp-navbar .container {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}

.komp-navbar .navbar-collapse {
    flex: 1 1 100%;
}

.nav-below {
    margin: -1px 0 0;
    background-color: var(--white);
    box-shadow: 0 4px 20px rgba(0 0 0 / 8%);
}

.nb-inner {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    gap: 1rem;
    align-items: center;
}

.nb-inner>a {
    flex: 1 0 100%;
}

.search-box {
    width: 100%;
}

.search-box .form-select {
    max-width: 120px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.search-box .btn {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.med-box {
    flex: unset;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}

.med-box .icon-cari {
    font-size: 1.4rem;
}

.user-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 0 auto;
    gap: .75rem
}

.icon-cart {
    display: inline-block;
    font-size: 1.4rem;
    padding: .25rem;
}

.user-box .divider {
    display: inline-block;
    width: 1px;
    background-color: var(--main);
    height: 38px;
}

.hackpad {
    /* height: 120px; */
    height: 64px;
}


/*END Navbar  */


/* slider  */

.banner-slide .item {
    position: relative;
    display: block;
    z-index: 1;
    overflow: hidden;
    color: var(--white);
    background-position: center;
    background-size: cover;
}

.banner-slide .item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: rgba(255 255 255 /0);
    background-image: linear-gradient(to top, rgba(0 0 0 / 0) 0, rgba(0 0 0 / 25%) 5%, rgba(0 0 0/ 75%) 100%);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner-slide .item .headline {
    display: block;
    min-height: 500px;
    overflow: hidden;
    position: relative;
}

.banner-slide .item .headline img {
    width: auto;
    height: 100%;
    object-fit: cover;
    max-height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.banner-slide .item .caption {
    width: 80%;
    padding: 2rem .5rem;
    box-sizing: border-box;
    max-width: 600px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.banner-slide .item .caption .badge {
    background-color: var(--second);
    color: var(--white);
    font-weight: normal;
    font-size: 1rem;
}

.banner-slide .item .caption .heading {
    color: var(--white);
    font-family: var(--font-inter);
    font-weight: 600;
}


/* end slide  */


/* Content  */

.content {
    position: relative;
    display: block;
    border: 1px solid #E0E0E0;
    color: var(--text);
    background-color: var(--white);
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.float-tag {
    position: absolute;
    top: -1rem;
    left: 2rem;
    background-color: #fff;
    padding: 5px 8px;
}

.content:hover {
    box-shadow: 0 6px 20px rgba(0 0 0 / 15%);
}

.full-height {
    height: 100%;
}

.short-text {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.2em;
}

.short-text.two {
    -webkit-line-clamp: 2;
    max-height: 2.4em;
}

.short-text.three {
    -webkit-line-clamp: 3;
    max-height: 3.6em;
}

.short-text.four {
    -webkit-line-clamp: 4;
    max-height: 4.8em;
}

.short-text.five {
    -webkit-line-clamp: 5;
    max-height: 6em;
}

.short-text.six {
    -webkit-line-clamp: 6;
    max-height: 7.2em;
}

.more {
    font-weight: bold;
    color: var(--main);
}

.more-btn {
    display: inline-block;
    margin: 0 0 1rem;
    font-weight: bold;
    color: var(--main);
    text-decoration: none;
    padding: .25rem;
    border: 1px solid var(--main);
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.more-link {
    color: var(--second);
    text-decoration: none;
    font-weight: bold;
}

.more-link:hover {
    color: var(--darksecond);
    text-decoration: underline;
}

.date-time {
    display: block;
    font-size: .8rem;
    color: #828282;
}

.line-bot2 {
    padding-bottom: 1rem !important;
    border-bottom: 1px solid var(--second) !important;
}

.line-stripe {
    display: flex;
    flex-direction: row;
}

.line-stripe::before,
.line-stripe::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid var(--text);
    margin: auto;
}

.tag {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--second);
    font-family: var(--font);
}

.line-bot {
    position: relative;
}

.line-bot::before {
    content: "";
    position: absolute;
    width: 75%;
    max-width: 500px;
    height: 1px;
    background-color: #BDBDBD;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.line-bot.full::before {
    max-width: 100%;
    width: 100%;
}

.infografik-slide .item-inner {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 1;
    width: 600px;
    margin: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    box-shadow: 0 10px 15px rgb(0 0 0 / 25%);
}

.infografik-slide .item-inner::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0 0 0 / 30%);
    left: 0;
    top: 0;
}

.infografik-slide .item-inner img {
    aspect-ratio: 3/2;
    object-fit: cover;
    width: 100%;
}

.infografik-slide .item-inner .caption {
    position: absolute;
    color: var(--white);
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: rgba(0 0 0 / 0);
    background-image: linear-gradient(to top, rgba(0 0 0 / 70%) 0%, rgba(0 0 0 / 20%) 50%, rgba(0 0 0 / 0) 100%);
}

.infografik-slide .item-inner .caption .title,
.infografik-slide .item-inner .caption .subtitle {
    color: var(--white);
}

.infografik-slide .slick-slide {
    opacity: .7;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transition: ease all .5s;
    -webkit-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
}

.infografik-slide .slick-slide .caption {
    display: none;
}

.infografik-slide .slick-slide.slick-center {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.infografik-slide .slick-slide.slick-center .caption {
    display: block;
}

.content.borderless {
    display: block;
    border-color: transparent;
    padding: 0;
    text-decoration: none;
}

.content.borderless:hover {
    box-shadow: none;
}

.content.borderless .foto-img {
    aspect-ratio: 3/2;
    width: 100%;
    object-fit: cover;
    border-radius: .35rem;
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    -ms-border-radius: .35rem;
    -o-border-radius: .35rem;
}

.content.kolom2 {
    display: flex;
    /* justify-content: space-between; */
    align-items: stretch;
    flex-flow: nowrap row;
    gap: 1rem;
}

.content.kolom2>a {
    flex: 0 0 40%;
}

.content a:hover {
    opacity: .75;
}

.bot-line {
    border-bottom: 1px solid #BDBDBD !important;
}

.info-ctn .subtitle.name {
    margin: 1rem 0 .5rem;
    font-family: var(--font);
    border-bottom: 1px solid #F1C40F;
    display: inline-block;
}

.info-ctn .subtitle.title {
    font-size: 1rem;
}

.info-ctn .ctn-img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0 0 0/ 75%);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.koran-big {
    text-decoration: none;
    display: flex;
    flex-flow: wrap row;
    gap: 1rem;
}

.koran-big>img {
    box-shadow: 0 5px 10px rgba(0 0 0 / 15%);
}

.koran-big:hover {
    opacity: .7;
}

.koran-small {
    text-decoration: none;
    display: flex;
    flex-flow: nowrap row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.koran-small>img {
    box-shadow: 0 5px 10px rgba(0 0 0 / 15%);
    width: 36%;
    max-width: 180px;
}

.koran-small:hover {
    opacity: .7;
}


/* End Content  */


/* box detail  */

.detail-box {
    position: relative;
}

.detail-box .db-img {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0 0 0 / 10%);
    box-shadow: 5px 5px 15px 5px rgba(0 0 0 / 10%);
}

.db-price {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap column;
    align-items: center;
    background-color: #E0E0E0;
}

.db-price .price-tag {
    text-align: center;
    padding: .25rem .5rem;
}

.db-price .btn {
    width: 100%;
}

.db-table tr>th {
    background-color: #f6f6f6;
    width: 30%;
}


/* End  detail  */


/* form pesan   */

.form-pesan {
    border-radius: .35rem;
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    -ms-border-radius: .35rem;
    -o-border-radius: .35rem;
    border: 1px solid #E0E0E0;
}

.form-guna {
    padding: .5rem 0;
}

.fg-inner {
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap row;
    gap: .5rem;
    padding: .5rem 0;
}

.fg-inner.head {
    background-color: #E0E0E0;
}

.fg-inner .item1 {
    flex: 1 1 34%;
    padding: 7px;
    box-sizing: border-box;
}

.fg-inner .item2 {
    flex: 1 1 64%;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
}

.fg-inner .item2 .item-child {
    width: 49%;
    padding: 7px;
    box-sizing: border-box;
}

.fg-inner .label-radio {
    position: relative;
    padding: 0 0 0 1rem;
    word-break: break-word;
}

.fg-inner .label-radio input {
    position: absolute;
    top: 5px;
    left: 0;
}


/* form pesan buku */


/* layanan bantuan  */

.box-title {
    padding: 1rem;
    width: 100%;
    background-color: rgba(217, 223, 231, 0.5);
}

.box-title>* {
    color: var(--main);
    margin: 0;
    font-family: var(--font);
}

.list-dot {
    position: relative;
    padding: 0;
}

.list-num {
    position: relative;
    padding: 0 1rem;
}

.list-dot li {
    position: relative;
    padding: .5rem 0 .5rem 1.25rem;
    list-style: none;
}

.list-dot li .icon {
    position: absolute;
    color: var(--second);
    top: .81rem;
    left: 0;
    font-size: .75rem;
}

.step-langgan {
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
    gap: 1rem;
}

.step-langgan .item {
    min-width: 200px;
    flex: 1 1 100%;
    display: flex;
    flex-flow: nowrap row;
    gap: 1rem;
}

.step-langgan .item .num {
    color: var(--main);
    align-self: center;
    line-height: 1;
    text-align: center;
}

.step-langgan .item .num span {
    font-size: 28px;
    font-weight: bold;
    display: block;
}

.step-langgan .item .desc {
    display: flex;
    flex-flow: wrap column;
    gap: .5rem;
}

.step-langgan .item .desc .icon {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.step-langgan .item .desc .icon img {
    width: 34px;
}


/* end layanan bantuan  */


/* komp Tabs  */

.komp-tabs {
    display: flex;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    gap: 1rem;
}

.komp-tabs.center {
    justify-content: center;
}

.komp-tabs .nav-item .nav-link {
    font-family: var(--font-inter);
    color: var(--text);
    /* color: #BDBDBD;
font-weight: 600; */
    border: none;
    /* border-bottom: 2px solid #BDBDBD; */
    padding: .5rem .25rem;
    margin: 0 0 -2px;
}

.komp-tabs .nav-item .nav-link:hover {
    color: var(--second);
}

.komp-tabs .nav-item .nav-link.active {
    color: var(--second);
    border: none;
    border-bottom: 3px solid var(--second);
}

.komp-tab-content {
    position: relative;
}

.komp-tabs2 {
    display: flex;
}

.komp-tabs2.center {
    justify-content: center;
}

.komp-tabs2 .nav-item .nav-link {
    font-family: var(--font-inter);
    color: var(--text);
    border-color: #dee2e6 #dee2e6 #fff;
}

.komp-tabs2 .nav-item .nav-link:hover {
    color: var(--main);
}

.komp-tabs2 .nav-item .nav-link.active {
    color: var(--text);
    border-top: 2px solid var(--main);
}

.komp-tabs2+.tab-content>.tab-pane {
    border-width: 1px;
    border-style: solid;
    border-color: transparent #dee2e6 #dee2e6;
    border-radius: 0 0 .35rem .35rem;
    -webkit-border-radius: 0 0 .35rem .35rem;
    -moz-border-radius: 0 0 .35rem .35rem;
    -ms-border-radius: 0 0 .35rem .35rem;
    -o-border-radius: 0 0 .35rem .35rem;
}

.buku-card {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    justify-content: center;
    padding: 2rem 0;
}

.buku-card .bc-inner {
    flex: 1 1 30%;
    text-decoration: none;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding: 1.25rem;
    max-width: 340px;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.buku-card .bc-inner:hover {
    box-shadow: 0 6px 20px rgba(0 0 0 /10%);
}

.buku-card .bc-inner .bc-img {
    height: 200px;
    box-shadow: 3px 3px 7px rgba(0 0 0 / 30%);
}

.buku-card .bc-inner .subtitle {
    font-size: 1rem;
}


/* End komp Tabs  */


/* Breadcrumb  */

.komp-breadcrumb {
    color: var(--title);
}

.komp-breadcrumb a {
    color: var(--title);
    text-decoration: none;
}

.komp-breadcrumb a:hover {
    color: var(--main);
}

.komp-breadcrumb .active,
.komp-breadcrumb .active a {
    color: var(--main);
    font-weight: bold;
}


/* End Breadcrumb  */


/* layanan   */

.layanan-card {
    position: relative;
    display: block;
    padding: 0 0 0 3rem;
    text-decoration: none;
    color: var(--text);
}

.layanan-card .icon {
    position: absolute;
    top: 3px;
    left: 0;
    width: 24px;
}


/* End layanan */


/*  dashboard */

.dashboard {
    font-family: var(--font) !important;
}

.dashboard .title,
.dashboard .subtitle {
    font-family: var(--font) !important;
}

.sidebar {
    align-items: baseline;
    background-color: white !important;
    box-shadow: 0px 0px 10px 1px #0000001A;
}

.sidebar .nav-item {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    margin: .5rem 0;
    position: relative;
}

.sidebar .dropdown-menu.show {
    position: relative;
    border: none;
}

.sidebar .dropdown-menu {
    border: none;
    padding: 0 0 0 1.75rem;
    margin: 0;
}

.sidebar .dropdown-item {
    background-color: rgba(79, 79, 79, 0.1);
    backdrop-filter: blur(2px);
    color: var(--main);
    margin: .25rem 0;
    border-radius: 10px;
    box-sizing: border-box;
    padding: .5rem .75rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar .dropdown-item:hover {
    background-color: rgba(79, 79, 79, 0.2);
}

.sidebar .nav-link {
    width: 100%;
    box-sizing: border-box;
    padding: .5rem;
    position: relative;
    transition: easa all .5s;
    -webkit-transition: easa all .5s;
    -moz-transition: easa all .5s;
    -ms-transition: easa all .5s;
    -o-transition: easa all .5s;
    color: rgba(40, 86, 152, 0.3) !important;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar .nav-link.dropdown-toggle.show::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.sidebar .nav-link.dropdown-toggle::after {
    position: absolute;
    right: .5rem;
    opacity: .3;
    transition: easa all .5s;
    -webkit-transition: easa all .5s;
    -moz-transition: easa all .5s;
    -ms-transition: easa all .5s;
    -o-transition: easa all .5s;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
}

.sidebar .nav-link.dropdown-toggle:hover::after,
.sidebar .nav-link.dropdown-toggle.active::after {
    opacity: 1;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.show,
.sidebar .active .nav-link {
    color: rgba(40, 86, 152, 1) !important;
}

.sidebar .nav-link .icons {
    display: block;
    width: 20px;
}

.sidebar .nav-link .icons img {
    width: 18px;
}

.sidebar .nav-link .icons .normal {
    display: block;
}

.sidebar .active .nav-link .icons .normal {
    display: none;
}

.sidebar .nav-link .icons .hover,
.sidebar .nav-link.show .icons .normal {
    display: none;
}

.sidebar .active .nav-link .icons .hover {
    display: block;
}

.sidebar .nav-link:hover .icons .hover,
.sidebar .nav-link.show .icons .hover {
    display: block;
}

.sidebar .nav-link:hover .icons .normal {
    display: none;
}

.sidebar .active::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--main);
}

.sidebar .active .nav-link,
.sidebar .nav-link:hover,
.sidebar .nav-link.show {
    background: rgba(79, 79, 79, 0.1);
    backdrop-filter: blur(2px);
}

.dash-content {
    background-color: white !important;
}

.dash-content-inner {
    padding: 1rem;
    box-shadow: 0 0 10px 1px #0000001a;
}

.dash-frame {
    position: relative;
    padding: 2rem 1rem;
    height: 100%;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap row;
    align-self: flex-start;
    color: white;
    gap: 1rem;
    z-index: 1;
}

.dash-frame::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-image: url(../images/dashboard/frame-bot.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.dash-frame::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-image: url(../images/dashboard/frame-top.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;
}

.dash-frame.orange {
    background-color: var(--second);
    background-image: linear-gradient(103.81deg, #EF7721 0%, #F43A11 105.27%);
}

.dash-frame.blue {
    background-color: var(--second);
    background-image: linear-gradient(282.4deg, #285698 5.27%, #57C2F0 98.68%);
}

.dash-frame .btn {
    min-width: 140px;
}

.dash-frame.orange .btn {
    color: var(--second) !important;
}

.dash-frame.blue .btn {
    color: var(--main) !important;
}

.dash-frame .foto {
    flex: 0 1 28%;
    aspect-ratio: 1;
    align-self: baseline;
    object-fit: cover;
    width: 70px;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.dash-frame .frame-desc {
    flex: 0 1 64%;
    color: white;
}

.dash-frame .frame-desc .title,
.dash-frame .frame-desc .subtitle {
    color: white;
}

.dash-frame .frame-desc .text-mini {
    font-size: 18px;
    opacity: 1;
}

.dash-frame .frame-desc p {
    opacity: .7;
}

.dash-frame .frame-foot {
    flex: 100%;
}

.dash-frame.wrap {
    flex-flow: wrap column;
    justify-content: space-between;
}

.dash-frame.wrap .frame-foot {
    flex: unset;
}

.dash-frame.center .frame-desc,
.dash-frame.center .frame-foot {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
}

.dash-tabs {
    display: flex;
    border: none;
    border-bottom: 1px solid transparent;
    gap: 1rem;
}

.dash-tabs .nav-item .nav-link {
    font-family: var(--font);
    color: var(--text);
    border: none;
    padding: .35rem 1rem;
    opacity: .7;
    margin: 0 0 -2px;
    transition: ease all .5s;
    -webkit-transition: ease all .5s;
    -moz-transition: ease all .5s;
    -ms-transition: ease all .5s;
    -o-transition: ease all .5s;
    border-radius: .35rem;
    -webkit-border-radius: .35rem;
    -moz-border-radius: .35rem;
    -ms-border-radius: .35rem;
    -o-border-radius: .35rem;
}

.dash-tabs .nav-item .nav-link:hover {
    color: var(--main);
}

.dash-tabs .nav-item .nav-link.active {
    color: var(--white);
    background-color: var(--main);
    opacity: 1;
    border: none;
}

.dash-tab-content {
    padding: 1rem;
    box-shadow: 0px 0px 10px 1px #0000001A;
}

.list-table {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-table li {
    position: relative;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-self: center;
    color: rgba(79, 79, 79, 0.7);
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #F0F0F0;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.list-table li:hover {
    border: 1px solid #cdcdcd;
}

.list-table li.head {
    font-weight: bold;
    border: 1px solid transparent;
}

.list-table li .item {
    padding: .25rem .5rem;
}

.list-table li .item:nth-child(1) {
    text-align: left;
    flex: 45%;
}

.list-table li .item:nth-child(2) {
    text-align: right;
    flex: 30%;
}

.list-table li .item:nth-child(3) {
    flex: 25%;
    text-align: right;
}

.list-pesan {
    padding: 0;
    margin: 0;
    list-style: none;
}

.list-pesan li {
    position: relative;
    display: flex;
    flex-flow: nowrap row;
    border: 1px solid transparent;
    justify-content: space-between;
    align-self: center;
    color: rgba(79, 79, 79, 0.7);
    margin: .5rem;
    padding: .5rem;
    box-shadow: 0px 10px 30px 0px #A7D1E933;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.list-pesan li:hover {
    border: 1px solid #cdcdcd;
}

.list-pesan li.head {
    font-weight: bold;
    border: 1px solid transparent;
}

.list-pesan li>div {
    padding: .25rem .5rem;
}

.list-pesan li .user {
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-pesan li .user .icon {
    font-size: 3rem;
}

.list-pesan li .detail {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap column;
    gap: .5rem;
}

.list-pesan li .cta .btn {
    width: 94px;
    margin: 2px 0;
    padding: 0.375rem 0.5rem;
}

.form-dash .form-label {
    font-size: 18px;
    color: var(--title);
}

.form-dash .form-text {
    font-size: 1rem;
    color: var(--text);
}

.upload-img label {
    cursor: pointer;
    background: #3395DB;
    border: 1px solid var(--main);
    padding: .5rem 1rem;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    color: white;
}

.upload-img label:hover {
    opacity: .8;
}

.upload-img input {
    display: none;
}

.bukti-transfer img {
    max-width: 320px;
}

.akun-box {
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.akun-box .foto {
    aspect-ratio: 1;
    object-fit: cover;
    width: 60px;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}


/* End dashboard */


/* footer  */

.footer {
    background-color: #F1F2F3;
    font-family: var(--font-inter)
}

.footer .subtitle {
    font-size: 18px;
    margin: 0 0 1rem;
    font-family: var(--font-inter);
}

.foot-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.foot-list li {
    padding: 0 0 0 2rem;
    position: relative;
}

.foot-list li .icon-foot {
    position: absolute;
    top: 3px;
    left: 0;
    color: var(--second);
}

.foot-sosmed {
    display: flex;
    justify-content: flex-start;
    gap: .75rem;
}

.foot-sosmed a {
    display: inline-block;
    background-color: var(--title);
    height: 2rem;
    width: 2rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    position: relative;
    color: var(--white) !important;
}

.foot-sosmed a:hover {
    background-color: var(--second);
}

.foot-sosmed a .icon {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: var(--white) !important;
}

.form-subs {
    max-width: 340px;
    margin: 0 0 0 2rem;
}

.form-subs .form-control,
.form-subs .form-select {
    border-color: transparent !important;
}


/*END footer  */

@media (min-width: 400px) {
    .db-price {
        display: inline-flex;
        justify-content: flex-start;
        flex-flow: wrap row;
        align-items: center;
        background-color: #E0E0E0;
    }
    .db-price .price-tag {
        text-align: center;
        padding: .25rem .5rem;
    }
    .db-price .btn {
        width: initial;
    }
    .g-recaptcha {
        display: flex;
        justify-content: start;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

@media (min-width: 576px) {
    .navbar-brand img {
        height: 32px;
    }
    .nb-inner>a {
        flex: 0 0 auto;
    }
    .step-langgan .item {
        flex: 1 1 30%;
    }
    .line-right {
        border-right: 1px solid #E0E0E0;
    }
}

@media (min-width: 768px) {
    .komp-navbar {
        background-color: var(--main);
    }
    .komp-navbar.navbar .navbar-nav .nav-link {
        padding: 1.25rem 1rem;
        color: var(--white);
    }
    .komp-navbar .dropdown-toggle::after,
    .komp-navbar .dropdown-toggle.show::after {
        filter: invert(1);
        -webkit-filter: invert(1);
    }
    .heading {
        font-size: 2.2rem;
        color: var(--title);
    }
    .headtitle {
        font-size: 1.6rem;
    }
    .title {
        font-size: 1.4rem;
        line-height: 1.3;
    }
    .subtitle {
        font-size: 1.15rem;
    }
    .komp-navbar .navbar-nav {
        display: flex;
        flex-flow: nowrap row;
        width: 100%;
        justify-content: flex-start;
    }
    .nb-inner {
        justify-content: space-between;
        flex-flow: nowrap row;
    }
    .med-box {
        flex: 0 1 50%;
        display: flex;
        justify-content: space-between;
        flex-flow: wrap row;
    }
    .user-box {
        justify-content: flex-end;
    }
    .hackpad {
        height: 138px;
    }
    .komp-navbar .navbar-nav .dropdown-menu {
        background-color: var(--main);
        border-radius: 0 0 .35rem .35rem;
        -webkit-border-radius: 0 0 .35rem .35rem;
        -moz-border-radius: 0 0 .35rem .35rem;
        -ms-border-radius: 0 0 .35rem .35rem;
        -o-border-radius: 0 0 .35rem .35rem;
    }
    .komp-navbar .navbar-nav .dropdown-menu .dropdown-item {
        color: var(--white);
        background-color: transparent;
    }
    .komp-navbar .navbar-nav .dropdown-menu .dropdown-item:hover {
        background-color: rgba(0 0 0 / 10%);
    }
    .line-divider {
        background-color: #E0E0E0;
        width: 1px;
        height: 100%;
        margin: 0 auto;
    }
    .form-subs {
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .banner-slide .item .headline img {
        width: 100%;
        height: auto;
    }
    .list-pesan li .detail {
        flex-flow: wrap row;
    }
    .list-pesan li .message {
        flex: 0 1 45%;
    }
    .list-pesan li .date {
        flex: 0 1 20%;
    }
    .list-pesan li .cta {
        flex: 0 1 30%;
        text-align: right;
    }
}

@media (min-width: 1200px) {}

@media screen and (max-width: 575px) {

    #dashboard #dashboard-home .box-images .images {
        width: 50px !important;
        height: 50px !important;
    }

    #dashboard #dashboard-home .box-images {
        margin-right: 20px !important;
    }

    #dashboard #dashboard-home .main-content .box-content .content .box-text h4 {
        font-size: 16px !important;
    }

    #dashboard #dashboard-home .main-content .box-content .content .box-text p {
        font-size: 13px !important;
    }

    #box-cd {
        width: 100% !important;
    }

    #shopping-cart {
        padding-top: 25% !important;
    }

    #shopping-cart #cart-option .row {
        flex-direction: column;
    }

    #shopping-cart #cart-option .row .col {
        margin-bottom: 10px;
    }

    #dashboard .box-sidebar.active-mobile ul {
        margin-top: 25% !important;
    }

    #shopping-cart .list-item .item-wrapper {
        flex-direction: column !important;
    }

    #shopping-cart .list-item {
        flex-direction: column !important;
    }

    #shopping-cart .list-item .images-wrapper {
        max-width: 100% !important;
    }

    #shopping-cart .list-item .images-wrapper .images {
        width: 100% !important;
        height: 150px !important;
    }

    #shopping-cart .list-item .item-wrapper .wc-item,
    #shopping-cart .list-item .item-wrapper .wc-qty-done,
    #shopping-cart .list-item .item-wrapper .wc-price,
    #shopping-cart .list-item .item-wrapper .wc-confirmation {
        max-width: 100% !important;
    }
    
    #shopping-cart .list-item .item-wrapper .wc-qty-done,
    #shopping-cart .list-item .item-wrapper .wc-price,
    #shopping-cart .list-item .item-wrapper .wc-confirmation {
        justify-content: flex-start !important;
        align-items: center !important;
    }

    #shopping-cart .list-item .item-wrapper .wc-qty-done {
        padding-top: 10px;
        padding-left: 2.5% !important;
        padding-bottom: 5px;
    }

    #shopping-cart .list-item .item-wrapper .wc-price {
        padding-left: 2.5% !important;
        padding-bottom: 5px;
    }

    #shopping-cart .list-item .item-wrapper .wc-confirmation {
        width: 100% !important;
        padding: 0 7.5px !important;
    }

    #shopping-cart .list-item .item-wrapper .wc-confirmation span {
        width: 100% !important;
    }

    #shopping-cart .select-wrapper {
        max-width: auto !important;
        padding-top: 0px !important;
        padding-bottom: 10px !important;
    }

    #shopping-cart .order-cart .buy {
        display: flex !important;
        flex-direction: column !important;
    }

    #shopping-cart .order-cart .buy .btn-primary {
        margin: 0 !important;
        margin-bottom: 10px !important;
    }

    #shopping-cart .list-item .item-wrapper .wc-item .download {
        width: 100% !important;
    }

    #chatting .list-chat-box .wrapper-lcb .user-chat .wb-chat-box {
        /* align-items: flex-start !important; */
    }

    #chatting .list-chat-box .wrapper-lcb .user-chat .wb-image {
        width: 20% !important;
        /* padding-top: 20px !important; */
    }

    #chatting .list-chat-box .wrapper-lcb .user-chat .wb-chat-box .wb-text {
        width: 80% !important;
    }

    #chatting .send-chat-box {
        height: 30% !important;
        overflow-y: auto;
    }

    #chatting .list-chat-box .wrapper-lcb .user-chat .wb-text .title {
        font-size: 14px !important;
    }

    #chatting .list-chat-box .wrapper-lcb .user-chat .wb-text .title h5 {
        font-size: 14px !important;
    }

    #chatting .list-chat-box .wrapper-lcb .user-chat .wb-text .message span {
        font-size: 14px !important;
    }

    #syarat-ketentuan {
        padding-top: 25% !important;
    }
}

@media screen and (max-width: 476px) {
    #slide .banner-slide .panel .caption .heading a {
        font-size: 20px;
    }

    #content-box #splide01 .splide__arrow--next,
    #content-box #splide01 .splide__arrow--prev {
        font-size: 12px;
    }

    .wrapper-main-page .sec-artikel {
        padding: 20px 0 !important;
    }

    #nav-box .navbar-nav {
        display: flex;
        flex-direction: column !important;
    }

    #nav-box .navbar-nav .dropdown {
        margin: 0 !important;
    }
}

@media screen and (max-width: 375px) {
    #syarat-ketentuan, #dashboard-account {
        padding-top: 35% !important;
    }

    #dashboard-home {
        padding-top: 10% !important;
    }
}